{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'styles/login.css' %}">




<div class="container">
<form action="" method="POST">
    {% csrf_token %}
    <div class="login_form">
        <label for="username" >Username</label>
        <input type="text" name="username" id="username">

        <label for="password">password</label>
        <input type="password" name="password" id="password">

        <input type="submit" name="submit" id="submit-btn">


    </div>


</form>

</div>