{% load static %}
<link rel="stylesheet" href="{% static 'styles/nav.css' %}">



<div class="navbar">
    <!-- <div class="logo">
        <img src="{% static 'images/google.png' %}" alt="" id="logo">
    
    </div> -->


    
    <a href="{% url 'home' %}">
        <div class="nav-icon-1">
            Home
        </div>
    </a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'edit-profile' request.user.profile.id %}">
        <div class="nav-icon-1">
            Edit Profile
        </div>
    </a>
    <a href="{% url 'profile' request.user.profile.id %}">
        <div class="nav-icon-2">
            Profile
        </div>
    </a>
    
    <a href="{% url 'add-question' %}">
        <div class="nav-icon-3">
            Add-Question
        </div>
    </a>
    {% endif %}
    <a href="">
        <div class="nav-icon-4">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a> 

            {% else %}
               <a href="{% url 'login' %}">Login</a> 
            {% endif %}
        </div>
    </a>

    
    

</div>